@import url("https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  body {
    font-family: "Inter", sans-serif;
  }
}

@layer components {
  input[type="checkbox"]:checked ~ label span svg {
    @apply inline-flex;
  }

  .sticky .header-logo {
    @apply py-5 lg:py-2;
  }

  .sticky .menu-scroll.active {
    @apply opacity-70;
  }

  input#togglePlan:checked ~ .dot {
    @apply translate-x-full;
  }

  input#checkboxLabel:checked ~ .box span {
    @apply opacity-100;
  }
}

.logo-carousel {
  overflow: hidden;
  width: 100%;
  position: relative;
  background-color: transparent; /* Optional: Add a background color */
}

.logos {
  display: flex;
  justify-content: space-between;
  align-items: center;
  animation: scroll 35s linear infinite;
  width: calc(200%);
}

.logos img {
  flex: 0 0 auto;
  max-height: 185px;
  margin: 0 15px;
  width: auto;
  height: auto;
}

@keyframes scroll {
  from {
    transform: translateX(0%);
  }
  to {
    transform: translateX(-50%);
  }
}

@media (max-width: 768px) {
  .logos {
    animation-duration: 30s;
  }

  .logos img {
    max-height: 120px;
    margin: 0 10px;
  }
}

@media (max-width: 480px) {
  .logos img {
    max-height: 95px;
    margin: 0 8px;
  }
}
